.pie-nos {
  margin-top: 250px;
}
.pie-prod {
  margin-top: 550px;
}
.pie-clas {
  margin-top: 200px;
}
.flex-footer {
  display: $flex;
  flex-direction: $fila;
  justify-content: $separado;
  margin-top: 70px;
}
@mixin redes($width, $height) {
  width: $width;
  height: $height;
}
.fb {
  @include redes($rrss, $rrss);
}
.wsp {
  @include redes($rrss, $rrss);
}
.ig {
  @include redes($rrss, $rrss);
}
