.pie-nos {
  margin-top: 250px;
}
.pie-prod {
  margin-top: 550px;
}
.pie-clas {
  margin-top: 200px;
}
.flex-footer {
  display: $flex;
  flex-direction: $fila;
  justify-content: $separado;
  margin-top: 70px;
}
.fb {
  width: $rrss;
  height: $rrss;
}
.wsp {
  width: $rrss;
  height: $rrss;
}
.ig {
  width: $rrss;
  height: $rrss;
}
